mixin main-nav(navList)
    ul.main-nav__list
        each item in navList
            if item.title === title
                li.main-nav__item
                    span.main-nav__link= item.title
            else
                li.main-nav__item
                    a(href=item.href).main-nav__link= item.title