//Start main-header
header.main-header
    .container.main-header__wrap
        a(href="javascript:void(0);").main-header__logo
            span LOGO
        nav.main-header__nav.main-nav
            +main-nav(nav.mainNav)
        a(href="tel:+79998887766").main-header__phone +7(999) 888-77-66
//End main-header