include ../mixins/mixins

block var
    -const title = "Главная"

doctype html

html(lang="ru").page
    head
        meta(charset="UTF-8")
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name='format-detection', content='telephone=no')
        meta(name='format-detection', content='date=no')
        meta(name='format-detection', content='address=no')
        meta(name='format-detection', content='email=no')
        link(rel="stylesheet" href="css/style.min.css")

    body.page__body.layout
        include ../blocks/main-header/main-header

        main
            block content

        include ../blocks/main-footer/main-footer

        block modal
            include ../blocks/modals/modal


        script(src="js/main.min.js")