extends ../layout/main.pug

block var
    -const title= "Компоненты"

block content

    // Start components
    section.components
        .container.components__wrap
            //Start checkbox
            article.components-item
                h2.components__title Checkbox

                label.check
                    input(type="checkbox" name="check").check__input
                    span.check__box
                        +icon('icon-check', 'check__icon')
                    span.check__text Я соглашаюсь с <a href="javascript:void(0);">политикой конфиденциальности</a>
            //End checkbox

            //Start breadcrumbs
            article.components-item
                h2.components__title Breadcrumbs

                - const breadcrumbsList = [{"href": "/", "title": "Главная"}, {"href": 'javascript:void(0)', "title": "Каталог"}, {"href": false, "title": "Продукт"}]
                +breadcrumbs(breadcrumbsList)
            //End breadcrumbs
    //End components